#%RAML 1.0
title: Test API
version: v1
baseUri: https://api.codingmatters.org/test
mediaType: application/json

/payload:
  displayName: Payload
  post:
    body: Req
/file-payload:
  displayName: FilePayload
  post:
    body: file
/arbitrary-object-payload:
  displayName: ArbitraryObjectPayload
  post:
    body: object
/arbitrary-object-array-payload:
  displayName: ArbitraryObjectArrayPayload
  post:
    body:
      type: array
      items: object

/query-params:
  displayName: QueryParams
  get:
    queryParameters:
      stringParam:
          type: string
      stringArrayParam:
          type: array
          items: string

/query-params-with-booleans:
  displayName: QueryParamsWithBooleans
  get:
    queryParameters:
      booleanParam:
          type: boolean
      booleanArrayParam:
          type: array
          items: boolean


/uri-param/{param}:
    displayName: UriParams
    uriParameters:
         param:
           type: string
    get:
    /another/{param2}:
      displayName: TwoUriParams
      uriParameters:
        param:
          type: string
        param2:
          type: string
      get:
    /another-one/{param}:
      displayName: ArrayUriParams
      uriParameters:
        param:
          type: array
          items: string
      get:

/header-params:
  displayName: HeaderParams
  get:
    headers:
      stringParam:
        type: string
      arrayParam:
        type: array
        items: string
      intParam:
        type: integer
      intArrayParam:
        type: array
        items: integer
      realParam:
        type: number
      realArrayParam:
        type: array
        items: number
      dateParam:
        type: date-only
      dateArrayParam:
        type: array
        items: date-only
      datetimeParam:
        type: datetime-only
      datetimeArrayParam:
        type: array
        items: datetime-only
      timeParam:
        type: time-only
      timeArrayParam:
        type: array
        items: time-only
      boolParam:
        type: boolean
      boolArrayParam:
        type: array
        items: boolean



types:
  Req:
    type: object
    properties:
      prop: string